@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

.navbar{
    height:56 px;
    box-sizing: border-box;
    padding: 10px 16px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    top:0;
    position: fixed;
    background-color: #000000;
    z-index: 300;
}

.navbar-left{
    gap: 10 px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.navbarHamberger{
    width:40px;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.navbar_youtubeimg{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.navbar_youtubeimage{
    color: red;
}

.navbar_utubeTitle{
    font-size: 20px;
    word-spacing: 0px;
    letter-spacing: 0px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.navbar-middle{
    display: flex;
    gap: 10px;
    width: 50%;
}

.navbar_searchbox{
    width: 80%;
    display: flex;
}

.navbar_searchBoxinput{
    width: 100%;
    height: 40px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid rgb(58, 57,57);
    background-color: #121212;
    color: white;
    font-size: 16px;
    padding-left: 30px;
    & ::focus{
        outline: none;
    }
    & ::placeholder{
        font-size: 16px;
        color: gray;
    }
}

.navbar_searchIcon{
    cursor: pointer;
    width: 70px;
    border: 1px solid rgb(42, 42,42);
    background-color: rgb(42, 42,42);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.navbar_voiceIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(42, 42,42);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.navbar-right{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.navbar-right-logo{
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.navbar-modal{
    width: 100%;
    position: absolute;
    top: 35px;
    z-index: 20;
    color: white;
}

.navbar-modal-option{
    background-color: rgb(85, 85, 85);
    padding: 10px;
    cursor: pointer;
    &:hover{
        background-color: rgb(34, 33, 33);
    }
}